extends layout

block content
    .row
        .col-sm-3
            h2 This is about page
            hr
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto soluta, magni earum a aut neque maiores modi error hic reiciendis.
        .col-sm-6
            h2 With its custom template
            hr
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium tempore eos atque sapiente laudantium id blanditiis eum perferendis magnam est, beatae distinctio nobis vitae voluptate fugiat et exercitationem iusto unde. Porro libero alias a molestiae delectus reprehenderit earum molestias. Consequatur id similique sed numquam ipsa rem quis aut non. Ipsa officia et veniam quos esse aperiam voluptates deserunt, repellat quidem pariatur maiores reprehenderit quisquam asperiores consectetur, aut quas blanditiis reiciendis iste odio cumque libero assumenda! Explicabo, illum. Cupiditate soluta, molestiae porro dignissimos repellendus veniam officiis itaque ullam ut dolorem molestias quae beatae magnam rerum. Fugiat iste odio cum cupiditate illo.